@{
    ViewBag.Title = "DataCrowds";
}

<section>
    <!-- *** HOMEPAGE CAROUSEL ***
    _________________________________________________________ -->

    <div class="home-carousel">

        <div class="dark-mask"></div>

        <div class="container">
            <div class="homepage owl-carousel">
                <div class="item">
                    <div class="row">
                        <div class="col-sm-5 right">
                            <p>
                                <img height="100" src="@Url.Content("~/Content/img/logoDC.png")" alt="">
                                
                            </p>
                            <h1>Memusatkan data pada satu titik</h1>
                            <p>
                                Nikmati kemudahan
                                <br />akses berbagai data.
                            </p>
                        </div>
                        <div class="col-sm-7 text-center">
                            <img class="img-responsive" src="@Url.Content("~/Content/img/carousel (a).png")" alt="">
                            <a style="color:white"href='http://www.freepik.com/free-vector/computing-banners-pack_808594.htm'>Designed by Freepik</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">

                        <div class="col-sm-7 text-center">
                            <img class="img-responsive" src="@Url.Content("~/Content/img/carousel (b).png")" alt="">
                            <a style="color:white" href='http://www.freepik.com/free-vector/computing-banners-pack_808594.htm'>Designed by Freepik</a>
                        </div>

                        <div class="col-sm-5">
                            <h2>Berbagi Data untuk semua.</h2>
                            <ul class="list-style-none">
                                @*<li>Sliders and carousels</li>
                                    <li>4 Header variations</li>
                                    <li>Google maps, Forms, Megamenu, CSS3 Animations and much more</li>
                                    <li>+ 11 extra pages showing template features</li>*@
                                <p>
                                    Bersama orang dari belahan dunia lain,
                                    <br />DataCrowds hadir untuk mempertemukanmu dengan mereka.
                                </p>
                            </ul>
                        </div>

                    </div>
                </div>
                @*<div class="item">
                        <div class="row">
                            <div class="col-sm-5 right">
                                <h1>Design</h1>
                                <ul class="list-style-none">
                                    <li>Clean and elegant design</li>
                                    <li>Full width and boxed mode</li>
                                    <li>Easily readable Roboto font and awesome icons</li>
                                    <li>7 preprepared colour variations</li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <img class="img-responsive" src="@Url.Content("~/Content/img/template-easy-customize.png")" alt="">
                            </div>
                        </div>
                    </div>*@
                @*<div class="item">
                        <div class="row">
                            <div class="col-sm-7">
                                <img class="img-responsive" src="@Url.Content("~/Content/img/template-easy-code.png")" alt="">
                            </div>
                            <div class="col-sm-5">
                                <h1>Easy to customize</h1>
                                <ul class="list-style-none">
                                    <li>7 preprepared colour variations.</li>
                                    <li>Easily to change fonts</li>
                                </ul>
                            </div>
                        </div>
                    </div>*@
            </div>
            <!-- /.project owl-slider -->
        </div>
    </div>

    <!-- *** HOMEPAGE CAROUSEL END *** -->
</section>

<section id="description">
    <div class="row text-center">
        <h2 class="header">
            DataCrowds
        </h2>
        <p class="content">
            Sebuah solusi untuk memusatkan data-data yang aksesibilitasnya kurang agar lebih mudah diakses bagi yang membutuhkan dan juga meningkatkan minat responden untuk memberikan data.
        </p>
    </div>
</section>

@*<div class="row">
        <div class="col-md-4">
            <h2></h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@